 @font-face {
    font-family: 'Minecraft';
    src: url(állományok/Betűtípus.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    background-image: url(állományok/képek/háttérkép_mellékoldal.png);
    font-family: 'Minecraft', monospace !important;
    color: white;   
}
.div_1{
    background-image: url(állományok/képek/háttér_goombokhoz.webp);
    justify-content:center;
    text-align:left;
    border-radius: 20px;
    padding: 20px;          
    box-sizing: border-box; 
    overflow: hidden
}
.carousel-item img {
    width: 100%;
    height: 100%; /* Példa magasság */
    object-fit: cover;
    background-color: #ccc; /* szürke háttér, ha kép nincs */
    border-radius: 100px;
}
#updaterCarousel3 .carousel-item {
    height: 750px;              /* fix magasság */
}

#updaterCarousel3 .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;          /* nem torzít, kitölti a sávot */
}
#updaterCarousel4 .carousel-item {
    height: 750px;              /* fix magasság */
}

#updaterCarousel4 .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;          /* nem torzít, kitölti a sávot */
}
#updaterCarousel5 .carousel-item {
    height: 750px;              /* fix magasság */
}

#updaterCarousel5 .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;          /* nem torzít, kitölti a sávot */
}
