@font-face {
    font-family: 'Minecraft';
    src: url(állományok/Betűtípus.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
html {
  scroll-behavior: smooth;
}
body{
    background-image: url(állományok/képek/háttérkép_mellékoldal.png);
    font-family: 'Minecraft', monospace !important;
    color: white;
    padding-top: 54px;  
}
.div_1{
    background-image: url(állományok/képek/háttér_goombokhoz.webp);
    justify-content:center;
    text-align: left;
    border-radius: 67px;
    padding: 20px;          
    box-sizing: border-box; 
    overflow: hidden;
    margin-bottom: 40px;
    scroll-margin-top: 67px;
    background: linear-gradient(135deg, #0d1b1e, #111827);
    padding: 40px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.7);
}
div h1{
    text-align: center;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 30px;
  z-index: 1000;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.navbar a:hover {
  color: #2ecc71;
  transform: scale(1.2);
}
.kep_1{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}